<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="icon" href=""/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{{ dump('sad') }}
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
